
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.container{
  width: 100%;
  max-height: auto;
  position: relative;
  margin: 0;
  padding-bottom: 80px;
  min-height: 100vh;
  background-color: #FFF7ed;
}

header{
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #FFF7ED;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo{
  font-size: 26px;
  font-weight: 900;
  text-decoration: none;
  color: #000;
  margin-left: 15px;
}

header nav > a{
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  margin-right: 18px;
  text-decoration: none;
}

header nav > a:hover{
  cursor: pointer;
  text-decoration: underline 2px #161616;
  color: #161616;
}


/*** HOME PAGE ***/

.home{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("/src/assets/9b62f902c3de6d1b54b3a5d23341752c.png") no-repeat center center;
  background-size: cover;
  height: 80vh;
  padding: 45px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home h2{
  color: #fff;
  font-size: 36px;
  font-weight: 800;
}

.home p{
  font-size: 16px; 
  font-weight: 500;
  color: #fff;
  text-align: left;
}

.home button{
  width: 40%;
  height: 55px;
  margin-left: 30%;
  background-color: #FF8C38;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
  cursor: pointer;
}

.home button:hover{
  transform: translate(1px, 1px);
}

.home > a{
  width: 100%;
}

/*** FOOTER ***/

.footer{
  width: 100%;
  background-color: #252525;
  color: #AAAAAA; 
  height: 80px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

.footer p{
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.footer span{
  font-size: 20px;
  display: block;
  font-weight: 200;
}


/*** ABOUT PAGE ***/

.about{
  background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
}

.about img{
  height: 80vh;
  width: 100%;
  min-width: 220px;
  min-height: 220px;
  object-fit: cover;
}

.about h2{
  font-size: 32px;
  font-weight: 700;
  padding: 0 25px;
  margin-top: 27px;
}

.about p{
  margin-top: 22px;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  padding: 0 25px;
}

.about .explore-box{
  width: 60%;
  background-color: #FFCC8D;
  border-radius: 5px;
  padding: 20px;
  margin: 25px 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.about .explore-box button{
  width: 180px;
  height: 48px;
  border-radius: 5px;
  background-color: #161616;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.explore-box button:hover{
  transform: translate(1px, 1px);
}

/*** VAN PAGE ***/

.vans{
  width: 100%;
}

.vans h1{
  font-size: 32px;
  font-weight: 700;
  color: #161616;
  background-color: #FFF7ED;
  padding-left: 20px;
}

.van-list-container{
  background-color: #FFF7ED;
  width: 100%;
}

.van-list-container img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.van-list{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 15%;
}

.van h3{
  font-size: 20px;
  font-weight: 600;
  color: #161616;
}

.van p{
  font-size: 20px;
  font-weight: 600;
  color: #161616;
}

.van p span{
  font-size: 14px;
  font-weight: 500;
}

.van-type{
  width: 85px;
  height: 33px;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  text-transform: capitalize;
}

.van .simple, .van-detail-container .van-detail .van-type, .current-van-details .van-type{
  background-color: #E17654;
  color: #FFEAD0;
}

.van .rugged, .van-detail-container .van-detail .van-type, .current-van-details .van-type{
  background-color: #115E59;
  color: #FFEAD0;
}

.van .luxury, .van-detail-container .van-detail .van-type, .current-van-details .van-type{
  background-color: #161616;
  color: #FFEAD0;
}

.van{
  margin: 12px;
  width: 30%;
}

.vans .van > a{
  text-decoration: none;
}

.van-detail-container{
  width: 100%;
  background-color: #FFF7ED;
  padding: 10px;
}

.van-detail{
  width: 100%;
  padding: 2.5%;
}

.van-detail img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 20px;
}

.van-detail-container .van-detail .van-type{
  margin-left: 2.5%;
  margin-top: 30px;
}

.van-detail h2{
  margin-top: 10px;
  font-size: 32px;
  font-weight: 700;
  color: #161616;
  margin-left: 2.5%;
}

.van-detail .van-price{
  margin-left: 2.5%;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

.van-detail .van-price span{
  font-size: 20px;
  font-weight: 700;
}

.van-detail .van-description{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 10px;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
}

.van-detail .link-button{
  margin-left: 2.5%;
  margin-top: 20px;
  width: 95%;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: #FF8C38;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 30px;
}

.van-detail .link-button:hover{
  transform: translateY(1px);
}

.back-to-all-vans, .host-van-detail .back-to-all-vans{
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #201F1D;
  font-size: 16px;
  font-weight: 500;
  width: 90%;
  margin-left: 5%;
  text-decoration: none;
}

.header-host{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.active-link{
  cursor: pointer;
  text-decoration: underline 2px #161616;
  color: #161616;
}

.host-vans{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-starb;
  background-color: #fff7ed;
  padding: 20px 5%;
}

.host-vans .host-van{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.host-vans .host-van img{
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.host-van-info{
  margin-left: 20px;
}

.host-vans .host-van .host-van-info h3{
  color: #161616;
  font-size: 20px;
  font-weight: 600;
}

.host-van-info p{
  font-size: 16px;
  font-weight: 500;
  color: #4d4d4d;
} 

.host-van-link{
  text-decoration: none;
}

.current-van-image{
  width: 160px;
  height: 160px;
  border-radius: 5px;
  margin: 5px;
}

.host-van-detail-card{
  width: 90%;
  background-color: #fff;
  margin-left: 5%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 10px;
}

.current-van-details{
  margin-left: 40px;
  padding: 15px 5px;
}

.host-van-detail{
  width: 100%;
  background-color: #fff7ed;
}

.current-van-name{
  font-size: 26px;
  font-weight: 700;
  color: #161616;
  margin: 5px;
}

.current-van-price{
  font-size: 20x;
  font-weight: 700;
}

.current-van-price span{
  font-size: 16px;
  font-weight: 500;
}

.host-van-detail-static{
  display: flex;
  justify-content: flex-start;
}

.host-van-detail-info-nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  font-size: 16px;
  font-weight: 500;
  color:  #4D4D4D;
  background-color: #fff;
}

.info p{
  font-size: 14px;
  font-weight: 700;
  color: #161616;
  margin-bottom: 10px;
}

.info span{
  font-size: 14px;
  font-weight:  500;
  color: #161616;
}

.price-host-van{
  font-size: 24px;
  font-weight: 500;
}

.price-host-van span{
  font-size: 16px;
  font-weight: 500;
}

.mini-photo{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}